body {
  @apply font-sans flex flex-col min-h-screen antialiased;
}

a {
  @apply text-indigo-600;

  text-decoration: none;

  &:hover {
    @apply text-indigo-800;

    transition: var(--transition-base);
  }
}

h1, h2, h3, h4, h5, h6 {
  @apply text-gray-800;
}

h1, h2, h3 {
  @apply font-semibold;

  & small {
    @apply font-medium;
  }
}

h4, h5, h6 {
  @apply mb-2;
}

/* Transitions */

:root {
  --transition-base: all .15s ease-in-out;
}
